{% extends "page/base.html" %}
{% load staticfiles %}
{% block block_body %}
			<!--content-->
				<div class="content">
				<!-- gallery -->
					<div class="gallery">
						<div class="container">
							<h2><span>Photo</span> Gallery</h2>
							<div class="gallery-grids">
								<div class="gallery-grid">
									<a href="images/g1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g1.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g2.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g3.jpg' %}" alt=" " class="img-responsive" />
									</a>
								</div>
								<div class="gallery-grid">
									<a href="images/g4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g4.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g5.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g1.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g7.jpg' %}" alt=" " class="img-responsive" />
									</a>
								</div>
								<div class="gallery-grid">
									<a href="images/g8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g8.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g9.jpg' %}" alt=" " class="img-responsive" />
									</a>
									<a href="images/g2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
										<img src="{% static 'images/g2.jpg' %}" alt=" " class="img-responsive" />
									</a>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				<!-- //gallery -->
{% endblock block_body %}