{% extends "page/base.html" %}


    <title>欢迎登陆 呵呵呵的 呵呵</title>


{% block body_block %}

<div align="center">
    {% if registered %}

        itcastsubject says: <strong>thank you for registering!</strong>
        <a href="/register/">Return to the homepage.</a><br />
    {% else %}

    <div class="eightcol last">
        <form class="form-signin span8" id="user_form" method="post" action="/user/register/"
                  enctype="multipart/form-data" style="color:#6699ee">
                {% csrf_token %}
            <h2 class="form-signin-heading" style="color:#9999ee">用户注册</h2>
                <!-- Display each form here -->

                {% for field in user_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text}}<br/>
                {{ field }}<br/>
                {% endfor %}

            <label>请选择省市地区：</label></br>
                <ul>
                    <label>省份 </label>
                    <select id="seachprov" name="seachprov" onChange="changeComplexProvince(this.value, sub_array, 'seachcity', 'seachdistrict');">  
                      <option value ="1">Beijing</option>  
                      <option value ="2">Shanghai</option>  
                      <option value="3">Tianjing</option>  
                      <option value="4">Hehe</option>  
                    </select> 
                </ul>
                <ul>
                    <label>城市 </label>
                    <select id="seachcity" name="homecity" onChange="changeCity(this.value,'seachdistrict','seachdistrict');">  
                      <option value ="1">Yanjiao</option>  
                      <option value ="2">Langfang</option>  
                      <option value="3">Zhumadian</option>  
                      <option value="4">He</option>  
                    </select> 
                </ul>
                <ul>
                    <label>地区 </label>
                    <select id="seachcity" name="homecity" onChange="changeCity(this.value,'seachdistrict','seachdistrict');">  
                      <option value ="1">1hehe</option>  
                      <option value ="2">2hehe</option>  
                      <option value="3">3hehe</option>  
                      <option value="4">5haha</option>  
                    </select> 
                </ul>


                {% for field in profile_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text}}<br/>
                {{ field }}<br/>
                {% endfor %}

                <br/>
                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}